.c-calendar-table {
    // margin: 0 auto;

    &__day-cell-header {
        th {
            text-align: center;
        }
    }

    &__day-cell-container {
        th {
            padding: 0 10px;
        }
    }

    &__time-line {
        th {
            padding: 3px 0;
        }
    }
    &__more-inner-table {
        td {
            padding: 3px 10px;
        }
    }
}