.js-img {
    display: inline-block;
    margin-right: 18px;

    &__photo {
        width: 300px;
        height: 180px;
    }

    &__desc {
        display: block;
        resize: none;
        padding: 15px;
        line-height: 1.1;
        height: 45px;
        width: 82%;
        margin: 0 auto;
        border: none;
    }

    &__desc:focus {
        outline: 0;
    }

    &__profile {
        width: 230px;
        height: 200px;
        border-radius: 50%;
        border: 1px solid $accent_color;
    }
}

.c-image {
    display: none;
}
