.c-input {
    border: none;
    border-radius: 4px;
    background-color: $base_color;

    &:focus {
        outline: 0;
    }
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $base_color inset;
    }
}
