/node_modules
/public/hot
/public/css
/public/js
/public/webfonts
/public/storage
/public/mix-manifest.json
/public/images/*
/storage/*.key
/vendor
.docker/minio/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
