.p-plan-create {
    display: flex;
    padding: 30px 152px;

    &__main {
        padding: 30px 0;
        flex: 1 1 auto;
        margin-left: 40px;
        height: auto;
        background-color: white;
        border-radius: 8px;
        width: 800px;
    }

    &__frame {
        padding: 20px 40px;
    }

    &__title,
    &__photo,
    &__body,
    &__calendar {
        margin-bottom: 25px;

        span {
            color: $accent_color;
            font-size: 0.8rem;
            display: inline-block;
            line-height: 1.5;
            margin-top: 3px;
        }

        h4 {
            color: #000000;
            font-weight: $base_font_weight;
            margin: 0;
        }

        p {
            margin-top: 3px;
            color: $accent_color;
            font-size: 0.8rem;
        }

        input[type="text"] {
            width: 100%;
            height: 50px;
            padding: 5px 15px;
        }

        textarea {
            width: 100%;
            padding: 10px;
        }

        label {
            color: $base_color;
            background-color: $accent_color;
            padding: 8px;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    &__myImage {
        margin-top: 25px;
    }

    &__tag-title {
        color: #000000;
        font-weight: $base_font_weight;
    }

    &__category {
        position: relative;
        margin-bottom: 25px;

        h4 {
            color: #000000;
            font-weight: $base_font_weight;
        }

        ::after {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            right: 78%;
            top: 65%;
            border-bottom: #333 2px solid;
            border-right: #333 2px solid;
            transform: rotate(45deg) translateY(-30%);
        }
    }

    &__price {
        margin-bottom: 25px;

        h4 {
            color: #000000;
            font-weight: $base_font_weight;
        }

        label:nth-child(3) {
            margin-left: 40px;
        }

        input[type="text"] {
            height: 40px;
            padding: 5px 15px;
            margin: 0 5px 0 8px;
        }
    }

    // todo::priceと重複しているので、上手く共通化したい(selectをcomponent化する)
    &__address {
        position: relative;
        margin-bottom: 25px;

        h4 {
            color: #000000;
            font-weight: $base_font_weight;
        }

        ::after {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            right: 89%;
            top: 65%;
            border-bottom: #333 2px solid;
            border-right: #333 2px solid;
            transform: rotate(45deg) translateY(-30%);
        }

        input[type="text"] {
            height: 40px;
            width: 60%;
            padding: 5px 15px;
            margin: 0 10px 0 20px;
        }
    }

    &__submit-box {
        text-align: center;
    }
}
