.p-identify {

    &__desc {
        text-align: center;
        span {
            color: $accent_color;
            font-size: 0.8rem;
        }
    }

    &__frame {
        padding: 20px 29px;

        td {
            padding: 12px 30px;
        }

        th {
            width: 89px;
        }

        input[type="text"] {
            height: 40px;
            padding: 5px 15px;
        }

        &-address,
        &-address-kana {
            select {
                margin-bottom: 8px;
            }

            input[type="text"]:nth-of-type(4) {
                margin-top: 5px;
            }
        }
    }

    &__submit-box {
        text-align: center;
        margin-top: 40px;
    }
}
