.p-pre-register {
    padding: 100px 300px;

    &__frame {
        background-color: #ffffff;
        height: 500px;
        padding: 100px;
        border-radius: 7px;

        form {
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        span {
            font-weight: $base_font_weight;
            color: $accent_color;
            display: inline-block;
            text-align: center;
            width: 100%;
            margin-top: 40px;
            font-size: 1.1rem;
        }
    }

    &__sns-account {
        margin-top: 20px;
        span {
            display: block;
            color: $accent_color;
            font-weight: $base_font_weight;
            margin-bottom: 8px;
        }
    }

    &__email {
        span {
            display: inline-block;
            margin: 20px 0;
            color: $accent_color;
            font-weight: $base_font_weight;
        }
        input {
            display: block;
            width: 360px;
            height: 45px;
            margin: 0 auto;
        }

        button {
            margin-top: 30px;
        }
    }

    &__back {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 90px;
    }
}
