.p-top {
    &__img {
        max-width: 1000px;
        height: 300px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        margin-top: 30px;

        img {
            top: 0;
            left: 0;
            position: absolute;
            border-radius: 15px;
        }
    }

    &__map {
        height: 500px;

        span {
            text-align: center;
            display: inline-block;
            width: 100%;
            font-weight: $base_font_weight;
            color: $accent_color;
            margin-top: 30px;
            font-size: 20px;
        }

        &-img {
            text-align: center;
        }
    }

    &__introduction {
        background-color: green;
        height: 300px;
    }
}
