.p-top {
    &__img {
        width: 500px;
        height: 300px;
        margin: 0 auto;
        text-align: left;
        overflow: hidden;
        position: relative;

        img {
            top: 0;
            left: 0;
            position: absolute;
        }
    }

    &__map {
        background-color: blue;
        height: 500px;
    }

    &__introduction {
        background-color: green;
        height: 300px;
    }
}
