.p-top {
    &__img {
        max-width: 1000px;
        height: 300px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        margin-top: 30px;

        img {
            top: 0;
            left: 0;
            position: absolute;
            border-radius: 15px;
        }
    }

    &__map {
        height: 500px;
    }

    &__introduction {
        background-color: green;
        height: 300px;
    }
}
