.l-header-content {
    width: 85%;
    height: 100px;
    margin: 0 auto;

    &__box-up {
        div {
            display: flex;
        }
    }

    &__logo {
        text-decoration: none;

        span {
            display: inline-block;
            color: $main_color;
            font-weight: $base_font_weight;
            font-style: italic;
            font-size: $logo_size;
            margin: 15px 50px;
        }
    }

    &__search_box {
        box-sizing: border-box;
        position: relative;
        border: 1px solid #999;
        padding: 3px 10px;
        border-radius: 20px;
        height: 2.3em;
        width: 35%;
        margin-top: 23px;
    }

    &__box-down {
        div {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__category {
        flex-basis: 80%;
    
    }

    &__registration {
        flex-basis: 8%;
    }

    &__login {
        flex-basis: 8%;
    }
}
