.l-sidebar {
    flex: 0 0 300px;
    height: auto;
    background-color: white;
    border-radius: 8px;

    &__nav {
        &-list {
            margin: 0;
            a {
                display: inline-block;
                width: 100%;
                padding: 10px 25px;
                border: 1px solid $base_color;
            }
        }
    }
}
